@media (max-width: 1352px) {
    .product-card{
    width: 280px;
    height: 270px;
}

.cart-table .image-details{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    width:280px;
}
.cart-table .image-details .img{
    width: 70px;
    height: 70px;
    border-radius: 1px;
    background-color: grey;
}

}
@media (max-width: 1112px) {
    .product-card{
    width: 270px;
    height: 270px;
}
.cart-items{
    width: 100%;
}
.summary{
    width: 100%;
    background-color: #dbdee0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.modal{
    width: 75%;
    height: 80%;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.item-price-compute{
    align-items: end;
}
.title{
    font-size: 18px;
    color: #e67700;
    margin-bottom: 7px;
}

}
@media (max-width: 916px) {
    .product-card{
    width: 240px;
    height: 280px;
}
.img-product{
    width: 100%;
    height: 170px;
    border-radius: 11px;
    background-color: #868e96;
}
.cart-container{
    padding: 20px 10px;
    max-height: 390px;
    overflow-y: scroll;
    background-color: #fff;
    animation: fade-in ease-in .5s backwards;
    
}


}
@media (max-width: 839px) {
    .product-card{
    width: 230px;
    height: 290px;
}
.title{
    font-size: 16px;
    color: #e67700;
    margin-bottom: 7px;
}

.products-container{
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: center;
   
    
}


}
@media (max-width: 789px) {
    .product-card{
    width: 220px;
    height: 290px;
}
.title{
    font-size: 14px;
    color: #e67700;
    margin-bottom: 7px;
}
.product{
    width: 100vw;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: red; */
}

.products-container{
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: center;
   
    
}


}
@media (max-width: 739px) {
    .product-card{
    width: 280px;
    height: 290px;
}
.title{
    font-size: 14px;
    color: #e67700;
    margin-bottom: 7px;
}
.product{
    width: 100vw;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: red; */
}

.products-container{
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: center;
   
    
}
.modal{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.header{
    width: 100vw;
    height: 80px;
    padding: 5px 40px;

}

}

@media (max-width: 619px) {
    .product-card{
    width: 250px;
    height: 290px;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 00px;
}
}
@media (max-width: 558px) {
    .product-card{
    width: 220px;
    height: 290px;
}
.cart-table .image-details{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width:220px;
}
.cart-container{
    padding: 20px 10px;
    
}
}
@media (max-width: 499px) {
    .product-card{
    width: 200px;
    height: 290px;
}
}
@media (max-width: 459px) {
    .product-card{
    width: 180px;
    height: 290px;
}
.cart-price{
    font-size: 14px;
    font-weight: bolder;
}
}
@media (max-width: 428px) {
    .product-card{
    width: 180px;
    height: 290px;
}
.header{
    padding: 5px 10px;  
}

.logo{
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
.head{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    padding: 30px 20px;
}
.cart-table .image-details .img{
    width: 50px;
    height: 70px;
    border-radius: 1px;
    background-color: grey;
}
.subtraction,.addition{
    padding: 3px 7px;
    font-size: 12px;
    cursor: pointer;
    background-color: transparent;
    border: none;

}
.cart-table .image-details{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    width:130px;
}
}



@media (max-width: 419px) {
    .product-card{
    width: 320px;
    height: 290px;
}
.title{
    font-size: 22px;
    color: #e67700;
    margin-bottom: 7px;
}
.author{
    font-size: 18px;
    color: #868e96;
    margin-bottom: 7px;
}
.price{
    font-size: 16px;
    color: #868e96;
    margin-bottom: 7px;
}
.stock {
    font-size: 12px;
    color: orangered;
}
}
